name: APK Decompile Engine

on:
  workflow_dispatch:
    inputs:
      apk_name:
        description: "APK File Name"
        required: true

jobs:
  decompile:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Install Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install APKTool
      run: |
        sudo apt update
        sudo apt install apktool -y

    - name: Decompile APK
      run: |
        mkdir output
        apktool d ${{ github.event.inputs.apk_name }} -o output

    - name: Upload Output
      uses: actions/upload-artifact@v3
      with:
        name: DecompiledFiles
        path: output
